
html{
  scroll-behavior:smooth;
}

body{
  color:#2f3039;
  margin:0 auto;
  font-family: 'Cabin', sans-serif;
  box-sizing:border-box;
}



/* * Navigation */
nav{
  height:55px;
  background: linear-gradient(to right,#f96259, #ff5f6d);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 3%;
  opacity:0.9;
}
nav a{
  text-decoration:none;
  color:white;
  font-size:1.25rem;
  padding:7px;
}
nav:hover{
  opacity:1;
}
nav a:hover{
  text-decoration:underline;
  transform:scale(1.25);
  transition: .3s cubic-bezier(0.2,0.8,0.2,1);
  
}
.nav-link-container{
  width:40%;
  display:flex;
  justify-content:space-between;
}
.logo-home{
  height:50px;
}
.resume{
  border:1px solid white;
  padding:7px 15px;
  border-radius:15px;
}
.resume:hover{
  text-decoration:none;
  transform:scale(1);
  transition:.5s;
  background-color:white;
  color:#f96259;
}

@media only screen and (max-width: 500px){
  nav{
    display:flex;
    justify-content:space-between;
  }
  .nav-link-container{
    width:100%;
  }
  nav a{
    font-size:1rem;
  }
}
@media only screen and (max-width: 700px){
  .nav-bar{
    max-width:800px;
    width:10%;
  }
  .nav-link-container{
    justify-content:space-evenly;
    width:100%;
  }
  nav a{
    font-size:1rem;
  }
}
@media only screen and (max-width: 900px){
  .nav-bar{
    max-width:900px;
    width:100%;
  }
  .nav-link-container{
    width:70%;
  }
}
.nav-bar{
   align-items: center;
     position: fixed;
     top: 0;

     width: 100%;
     opacity: 0.97;
     background: #fcfcfb;
     font-size: 1.2rem;
     z-index: 99999;
}












/* * Main Logo */
.logo{
  width:100%;
}
.logo-container{
  margin:0 auto;
  width:100%;
  max-width:1240px;
  display:flex;
  justify-content:center;
  opacity:0;
     animation: LogoAnimation;
     animation-duration: 1.5s;
     animation-fill-mode:forwards;
     animation-timing-function:cubic-bezier(0.2,0.8,0.2,1)
}
@keyframes LogoAnimation {
     0% {
          opacity: 0;
          transform: translateY(40px);
     }
     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}
@media only screen and (max-width: 500px){
  .logo-container{
    max-width:500px;
  }
}




/* * Landing Button */
 .landing-page-button-container{
  text-align:center;
} 
.landing-page-button{
  height:40px;
  border:none;
  font-size:1rem;
  color:white;
  font-weight:500;
  width:25%;
  text-decoration:none;
  border-radius:20px;
  background: linear-gradient(93deg, #f96259, #ff5f6d, #ff9068);
  animation-name: landingButton;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation: MoveUpDown 1s linear infinite;
}


.landing-page-button:hover{
  background: linear-gradient(to right, #fd746c, #ff9068);
  transition-timing-function: ease-in;
  transition: .5s cubic-bezier(0.2,0.8,0.2,1);
  box-shadow: 0 5px 5px rgba(0,0 ,0, .25);
  transform: translateY(-3px);
}
@keyframes landingButton {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes MoveUpDown {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(0px);
	}
}



/* * About Me section */
.about-container{
  margin:10% auto;
  padding-top:8%;
  max-width:1000px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
}

.about-content h2{
  font-size: 6rem;
  font-weight:900;
  background: linear-gradient(#f96259, #ff5f6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
}
.about-content{
  width:100%;
  font-size:1.3rem;
  line-height:1.3;
  font-weight:500;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-evenly;
  margin-bottom:30px;
}
.about-subtitle{
  font-size:1.8rem;
  color:#fd746d;
  letter-spacing:1.3px;
  margin:0;
}
.about-content-container{
  word-spacing:1px;
  color:#2f3039;
  font-size:1.3rem;
  line-height:1.5;
  font-weight:500;
  width:28%;
  padding:15px;
  box-shadow: 0 10px 20px rgba(0,0 ,0, .25);
}

.about-container-content{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.about-accents{
  font-weight:bold;
}
@media only screen and (max-width: 500px){
  .about-content img{
    width:200px;
  }
  .about-content-container{
    width:100%;
    margin-top:30px;
    font-size:1.2rem;
    line-height:1.3;
  }
  .about-subtitle{
    font-size:1.5rem;
    letter-spacing:1px;
  }
}















.individual-project img{
  max-width:1000px;
  width:100%;
}
/* * Check things above */
.project-container{
  padding-top:70px;
  margin:10% auto;
  max-width:1000px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
.project-header{
  margin-bottom:2%;
}
.project-header h4{
  margin:0;
  font-size:1.3rem;
  font-weight:500;
}
.project-title{
  font-size: 6.5rem;
  font-weight:900;
  background: linear-gradient(#f96259, #ff5f6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  margin:0;
}
.individual-project{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  margin:7% 0;
}


.project-headline{
  font-size:3.5rem;
  font-weight:900;
  color:#2f3039;
  padding:0;
  margin:0;
  line-height:.9;
  letter-spacing:1px;
}

.project-subheadline{
  font-size:1.1rem;
  margin:0;
  color:#fd746d;
  letter-spacing:3px;
}
.project-button{
  background: linear-gradient(93deg, #f96259, #ff5f6d, #ff9068);
  width:100px;
  border:none;
  padding:10px;
  border-radius:20px;
  color:white;
  font-size:1rem;
  font-weight:500;
}
.project-button:hover{
  background: linear-gradient(to right, #f96259, #ff9068);
  transition: .5s ease-in;
  transform: translatey(-3px);

}
.project-code-button{
  width:100px;
  border:1.3px solid #f96259;
  padding:10px;
  border-radius:20px;
  color:#f96259;
  font-size:1rem;
  font-weight:500;
  margin-left:20px;
}
.project-code-button:hover{
   transition: .5s ease-in;
  transform: translatey(-3px);
}

.tech-stack{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content:center;
  margin-bottom:10px;
}
.tech-stack img{
  width:15%;
  padding-bottom:10px;
}
.tech-stack p{
  width:80%;

}




/* * IMMUNIFY  */
.content{
  width:33%;
  font-size:17px;
  line-height:1.6;
}

.immunify-picture{
  width:63%;
  box-shadow: 0 15px 20px rgba(0,0 ,0, .25);
}



/* * BOOKR */
.bookr-project img{
  width:100%;
}
.carousel-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height:400px;
  box-shadow: 0 15px 20px rgba(0,0 ,0, .25);
}
@media only screen and (max-width: 500px){
  .individual-project{
    padding:15px;
    display:flex;
    flex-direction:column-reverse;
  }
  .project-container{
    text-align:center;
  }
  .project-title{
    font-size:5rem;
  }
  .immunify-picture{
    width:100%;
  }
  .bookr{
    display:flex;
    flex-direction:column;
  }
}
@media only screen and (max-width: 500px){
  .content{
    width:100%;
    margin:30px 0;;
  }
  .carousel-container{
    height:250px;
  }
}




/* * CONTACT SHEET */
.contact-container{
  margin:13% auto;
  margin-top:0;
  max-width:1000px;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  text-align:center;
}
.contact-icon-container a{
  text-decoration:none;
}
.contact-icon-container{
  margin-top:3%;
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-evenly;
}
.contact-container img{
  width:80px;
  box-shadow: 0 15px 20px rgba(0,0 ,0, .25);
  border-radius:50%;
}
.contact-icon:hover{
  transition: .25s ease-in;
  transform: translatey(-7px);
}
.contact-container button{
  border:none;
}
@media only screen and (max-width: 500px){
  .contact-container img{
    width:60px;
  }
  .contact-container h4{
    padding:10px;
  }
}



